body {
    padding-top: 100px;
    padding-bottom: 20px;
}

body {
    margin: 0;
    background-image: url(https://www.nti-audio.com/portals/0/pics/en/Teaser-Cinema-1200-500.jpg);
    backdrop-filter: blur(10px);
    background-attachment: fixed;
    background-size: cover;
    font-family: helvetica;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo-size {
    width: 194px;
    height: 143px;
    margin-top: -59px;
}