@model IEnumerable<Movie_Ticket_Booking_System.ViewModels.MoviesInCinema>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    @foreach (var movie in Model.ToList())
    {
        @movie.cinema
        foreach (var item in movie.MovieDetails)
            {
                <li> <a href="~/User/Details/@item.Id"> @item.MovieName </a></li>
            }

    }

</ul>
